<h1 class="cursive">Lesson 3: Adding Headers and Attributes</h1>

<div id="test-swipe-1" class="col s12">
  <b>Let's start with a heading!</b>
  Type this into your editor:
  <b>&lt;h1&gt; Coding is fun! &lt;/h1&gt;</b>
  <br>
  Great! You've just written a heading. A heading is a lot like the title of a book, or the headline of a
  newspaper headline!
</div>
<div id="test-swipe-2" class="col s12">
  <b>Let’s start with basic HTML tags!</b>
  <b>&lt;HTML&gt;.... &lt;/HTML&gt;</b> : Did you know you have to <i>tell</i> your computer that it's reading HTML?
  Yeah, computer's may look super smart, but really people have to tell them basically everything!
  Replace whatever is in the editor with these tags.
</div>
<div id="test-swipe-3" class="col s12">
  <b>&lt;Head&gt;.... &lt;/Head&gt;</b> : The head tag is a container for all the elements that you don't see.
  These include title of the document, scripts, styles, etc. We don't need to use the head for our example,
  but if you're building a real website, don't forget your head!
</div>
<div id="test-swipe-4" class="col s12">
  <b>&lt;Body&gt;.... &lt;/Body&gt;</b> : Everything you see on a website should fall between the body tags.
  Type these into your editor, between your <b>&lt;HTML&gt;.... &lt;/HTML&gt;</b> tags!
</div>
<ul id="tabs-swipe-demo" class="tabs">
  <li class="tab col s3 black-text"><a href="#test-swipe-1">1</a></li>
  <li class="tab col s3 black-text"><a class="active" href="#test-swipe-2">2</a></li>
  <li class="tab col s3 black-text"><a href="#test-swipe-3">3</a></li>
  <li class="tab col s4 black-text"><a href="#test-swipe-4">4</a></li>
</ul>
</br>
</br>
<button class="btn teal" id="next">Got it!</button>


Lesson 3: Adding Headers and Attributes
&lt;!-- So let’s add a heading first →

&lt;h1&gt; Coding is fun! &lt;/h1&gt;
&lt;!-- Tags can also have attributes in the form of &lt;tagname style = “property: value;”&gt; --&gt;
&lt;h2 style = “text-align : center;”&gt; Big header centered&lt;/h2&gt;
&lt;h3 style = “color: red;”&gt; Smaller header in red &lt;/h3&gt;
&lt;h6&gt; &lt;i&gt; Smallest header italicized &lt;/i&gt; &lt;/h6&gt;
&lt;!-- Don’t forget to add a line break! Note: there is no closing tag for it --&gt;
&lt;br&gt;

Lesson 3: Adding Paragraphs, Lists, and Images
&lt;p style= “font-family: verdana;”&gt; Here’s a paragraph! Feel free to add a paragraph about YOU! &lt;/p&gt;
Sometimes it is also useful to add a list, such as:
&lt;ul&gt; Here’s a bullet list of my favorite colors:
&lt;li&gt; Just list out some colors! &lt;/li&gt;
&lt;li&gt; Like blue? &lt;/li&gt;
&lt;/ul&gt;

&lt;ol&gt; Here’s a numbered list of my favorite foods (with pictures!)
&lt;li&gt; Ice cream &lt;img src= "https://static.pexels.com/photos/461430/pexels-photo-461430.jpeg" alt = “Picture of Ice Cream” style = “width: 600px; height: 450px;”&gt;
&lt;li&gt; Don’t forget to add yours!
&lt;/ol&gt;
