<h1 class="cursive">Lesson 3: Adding Headers and Attributes</h1>

<div id="test-swipe-1" class="col s12">
  <b>Let's start with a heading!</b>
  Type this into your editor:
  <b>&lt;h1&gt; Coding is fun! &lt;/h1&gt;</b>
  <br>
  Great! You've just written a heading. A heading is a lot like the title of a book, or the headline of a
  newspaper headline!
</div>
<div id="test-swipe-2" class="col s12">
<p>  &lt;!-- Tags can also have attributes in the form of &lt;tagname style = “property: value;”&gt; --&gt;</p>
  &lt;h3 style = “color: red;”&gt; Smaller header in red &lt;/h3&gt; <br>
  &lt;h6&gt; &lt;i&gt; Smallest header italicized &lt;/i&gt; &lt;/h6&gt;<br>
  &lt;!-- Don’t forget to add a line break! Note: there is no closing tag for it --&gt;<br>
  &lt;br&gt;
</div>
<div id="test-swipe-3" class="col s12">
  &lt;p style= “font-family: verdana;”&gt; Here’s a paragraph! Feel free to add a paragraph about YOU! &lt;/p&gt;
</div>
<div id="test-swipe-4" class="col s12">
  Sometimes it is also useful to add a list, such as:<br>
  &lt;ul&gt; Here’s a bullet list of my favorite colors:<br>
  &lt;li&gt; Just list out some colors! &lt;/li&gt;<br>
  &lt;li&gt; Like blue? &lt;/li&gt;<br>
  &lt;/ul&gt;<br><br>

  &lt;ol&gt; Here’s a numbered list of my favorite foods (with pictures!)<br>
  &lt;li&gt; Ice cream &lt;img src= "https://static.pexels.com/photos/461430/pexels-photo-461430.jpeg" alt = “Picture of Ice Cream” style = “width: 600px; height: 450px;”&gt;<br>
  &lt;li&gt; Don’t forget to add yours!<br>
  &lt;/ol&gt;<br>
</div>
<ul id="tabs-swipe-demo" class="tabs">
  <li class="tab col s3 black-text"><a href="#test-swipe-1">1</a></li>
  <li class="tab col s3 black-text"><a class="active" href="#test-swipe-2">2</a></li>
  <li class="tab col s3 black-text"><a href="#test-swipe-3">3</a></li>
  <li class="tab col s4 black-text"><a href="#test-swipe-4">4</a></li>
</ul>
