<h3>Lesson 1 : Hello HTML</h3>
</br>
<b>What is HTML?</b></br>
<p>HTML is a powerful tool that helps you create YOUR OWN WEB PAGES! It stands for <b>Hyper Text Markup Language</b>, which basically means it tells the computer what you want your website to look like.</p>

</br></br>
<b>Creating, saving, and viewing an HTML document</b>
<p>Creating, saving, and viewing an HTML document is even easier than turning your computer on. All you need to do is open any text editor, type the code, and then save the file with a “.html” / “. htm” extension. To view the file, just double click on it and it will automatically open in your web browser. If you want to edit a file, just right click and open it with the text editor.</p>
<p> Here, you <b>don't even need to do that!</b> We have an HTML editor where you can practice your skills. Go ahead, type something and see it show up in the box to the right!</p>

<b>Using HTML</b>
<p>HTML uses tags and commands to structure the content on web pages. It also allows you to add links, images, videos, and other forms of media to your web pages. HTML is really easy to learn and a lot of fun!</p>

<button class="btn teal" id="next">Got it!</button>

<ul id="tabs-swipe-demo" class="tabs">
  <li class="tab col s3"><a href="#test-swipe-1">1</a></li>
  <li class="tab col s3"><a class="active" href="#test-swipe-2">2</a></li>
  <li class="tab col s3"><a href="#test-swipe-3">3</a></li>
</ul>

<div id="test-swipe-1" class="col s12 blue">Test 1</div>
<div id="test-swipe-2" class="col s12 red">Test 2</div>
<div id="test-swipe-3" class="col s12 green">Test 3</div>




<script>
  $("#next").click(function(){
    $("#curriculum-content").html("<%= render 'pages/curriculum/lesson_two' %>");
  });
</script>
