<div id="test-swipe-1" class="col s12">
  <b>Now that we know how to create a file, let’s get started with what goes in an HTML file!</b>
  </br>
  <b>Tags:</b> Tags are keywords that define how the content will be displayed. A tag is usually
  written in angular brackets (&lt;&gt;) and most tags are paired as beginning and closing tag.
  A closing tag is the same as the opening tag preceded by a /. Tags in HTML are NOT case sensitive
</div>
<div id="test-swipe-2" class="col s12">
  <b>Let’s start with basic HTML tags!</b>
  <b>&lt;HTML&gt;.... &lt;/HTML&gt;</b> : Did you know you have to <i>tell</i> your computer that it's reading HTML?
  Yeah, computer's may look super smart, but really people have to tell them basically everything!
  Replace whatever is in the editor with these tags.
</div>
<div id="test-swipe-3" class="col s12">
  <b>&lt;Head&gt;.... &lt;/Head&gt;</b> : The head tag is a container for all the elements that you don't see.
  These include title of the document, scripts, styles, etc. We don't need to use the head for our example,
  but if you're building a real website, don't forget your head!
</div>
<div id="test-swipe-4" class="col s12">
  <b>&lt;Body&gt;.... &lt;/Body&gt;</b> : Everything you see on a website should fall between the body tags.
  Type these into your editor, between your <b>&lt;HTML&gt;.... &lt;/HTML&gt;</b> tags!
</div>
<ul id="tabs-swipe-demo" class="tabs">
  <li class="tab col s3 black-text"><a href="#test-swipe-1">1</a></li>
  <li class="tab col s3 black-text"><a class="active" href="#test-swipe-2">2</a></li>
  <li class="tab col s3 black-text"><a href="#test-swipe-3">3</a></li>
  <li class="tab col s4 black-text"><a href="#test-swipe-4">4</a></li>
</ul>
