Lesson 3: Adding Headers and Attributes
&lt;!-- So let’s add a heading first →

&lt;h1&gt; Coding is fun! &lt;/h1&gt;
&lt;!-- Tags can also have attributes in the form of &lt;tagname style = “property: value;”&gt; --&gt;
&lt;h2 style = “text-align : center;”&gt; Big header centered&lt;/h2&gt;
&lt;h3 style = “color: red;”&gt; Smaller header in red &lt;/h3&gt;
&lt;h6&gt; &lt;i&gt; Smallest header italicized &lt;/i&gt; &lt;/h6&gt;
&lt;!-- Don’t forget to add a line break! Note: there is no closing tag for it --&gt;
&lt;br&gt;

Lesson 3: Adding Paragraphs, Lists, and Images
&lt;p style= “font-family: verdana;”&gt; Here’s a paragraph! Feel free to add a paragraph about YOU! &lt;/p&gt;
Sometimes it is also useful to add a list, such as:
&lt;ul&gt; Here’s a bullet list of my favorite colors:
&lt;li&gt; Just list out some colors! &lt;/li&gt;
&lt;li&gt; Like blue? &lt;/li&gt;
&lt;/ul&gt;

&lt;ol&gt; Here’s a numbered list of my favorite foods (with pictures!)
&lt;li&gt; Ice cream &lt;img src= "https://static.pexels.com/photos/461430/pexels-photo-461430.jpeg" alt = “Picture of Ice Cream” style = “width: 600px; height: 450px;”&gt;
&lt;li&gt; Don’t forget to add yours!
&lt;/ol&gt;
