<div class="col s12 m5">
        <pre id="editor" style="height:100%">
        </pre>
        <script>
            var editor = ace.edit("editor");
            editor.setTheme("ace/theme/twilight");
            editor.session.setMode("ace/mode/html");
            editor.setValue("<h1>HTML is fun!</h1>");
            editor.getSession().on('change', function(e) {
                $("#rendered-content").html(editor.getValue());
            });
        </script>
</div>
