<% @title = "Learn HTML!" %>

<h3 class="center">Can you code it?</h3>
<h4 class="center">Yes, you can!</h4>

<div class="row">
  <div class="col s12 m3">
    <div class="card-panel hoverable grey lighten-2 indie flower" id="curriculum-content">
      <%= render 'pages/curriculum/lesson_one' %>
    </div>
  </div>
  <%= render 'editor' %>
  <div class="col s12 m4">
    <div class="card-panel hoverable grey lighten-2">
      <div id="rendered-content">

      </div>
    </div>
  </div>
</div>
