<% @title = "Learn HTML!" %>

<h3>Welcome to lesson mode</h3>

<div class="row">
  <div class="col s12 m3">
    <div class="card-panel hoverable">
      <%= render curriculum_links_partial_path %>
    </div>
  </div>
  <%= render 'editor' %>
  <div class="col s12 m4">
    <div class="card-panel hoverable">
      <div id="rendered-content">

      </div>
    </div>
  </div>
</div>
