<h3> Welcome to Sandbox Mode! </h3>
<p>You've learned so much, let's see what you can do!</p>

<div class="row">

  <%= render 'editor' %>

  <div class="col s12 m7">
    <div class="card-panel hoverable">
      <div id="rendered-content">

      </div>
    </div>
  </div>
</div>
