<!-- TODO: This will be the main page that we are  -->
<% if user_signed_in? %>
  <h1>Hi you are signed in!</h1>
<% else %>
  <h1>Hi you are not signed in!</h1>
<% end %>

<pre id="editor">function foo(items) {
    var i;
    for (i = 0; i &lt; items.length; i++) {
        alert("Ace Rocks " + items[i]);
    }
}</pre>

<script src="src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
    editor.session.setMode("ace/mode/javascript");
</script>
