<!-- TODO: This will be the main page that we are  -->
<% if user_signed_in? %>
  <h1>Hi you are signed in!</h1>
<% else %>
  <h1>Hi you are not signed in!</h1>
<% end %>


<div class="row">
  <div class="col s4">
    <div class="card-panel teal">
          <span class="white-text">.
          </span>
    </div>
  </div>
  <div class="col s6">
          <pre id="editor" style="height:100%">
            <h1>Hi World!</h1>
          </pre>
          <script>
              var editor = ace.edit("editor");
              editor.setTheme("ace/theme/twilight");
              editor.session.setMode("ace/mode/html");
          </script>
  </div>
  <div class="col s2">

  </div>
</div>
